#cart-btn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 7rem;
    height: 7rem;
    border-radius: 1.5rem;
    z-index: 1500;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0;
    margin-bottom: 10%;
}

#cart-btn svg {
    width: 6rem;
    height: 6rem;
}

#cart-count {
    position: absolute;
    top: -1rem;
    right: -1rem;
    min-width: 4rem;
    min-height: 4rem;
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #50604f;
    color: #fff;
    font-weight: 600;
    z-index: 10;
    pointer-events: none;
}