* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
    --primary-color: #393825;
    --secondary-color: #161616;
}

body {
    background: #e8dbc8;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.back-arrow {
    position: fixed;
    top: 30px;
    left: 30px;
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--primary-color);
    background: none;
    padding: 7px 18px 7px 8px;
    border-radius: 99px;
    z-index: 100;
    transition: background 0.2s, color 0.2s;
    font-weight: 500;
}

.back-arrow:hover {
    background: var(--primary-color);
    color: #fff;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
}

.login-wrapper {
    position: relative;
    padding: 4rem 1.5rem 1rem 1.5rem;
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    backdrop-filter: blur(25px);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    color: var(--secondary-color);
}

.login-header {
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.5rem;
    transform: translateX(-50%);
    border-radius: 0 0 20px 20px;
    background-color: var(--primary-color);
    color: #f4f2e6;
    font-size: clamp(1rem, 6vw, 3rem);
}

.login-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background: transparent;
    box-shadow: 15px 0 0 0 var(--primary-color);
}

.login-header::after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background: transparent;
    box-shadow: -15px 0 0 0 var(--primary-color);
}

.login-form {
    display: flex;
    flex-direction: column;
    margin-top: clamp(0.5rem, 3vw, 3rem);
    font-size: clamp(0.8rem, 3vw, 1rem);
    gap: 1rem;
}

.input-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
}

.input-field {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    outline: none;
    background: transparent;
    color: var(--secondary-color);
}

.label {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    transition: 0.2s;
}

.input-field:focus~.label,
.input-field:valid~.label {
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 0 10px;
    border-radius: 30px;
    background-color: var(--primary-color);
    color: #f4f2e6;
}

.icon {
    position: absolute;
    top: 18px;
    right: 25px;
}

.login-check {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.forgot {
    font-size: clamp(0.7rem, 2vw, 0.8rem);
}

.input-login {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid #393825;
    background: none;
    border-radius: 30px;
    font-size: clamp(1rem, 3vw, 1.3rem);
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.input-login:hover {
    background: var(--primary-color);
    color: #ebe7d3;
}

.register {
    text-align: center;
}

.register a {
    font-weight: 500;
}

.login-error {
    border-color: #c23b22 !important;
    box-shadow: 0 0 0 2px #efb1a8aa;
}


.icon-1 {
    top: -300%;
    left: 100%;
    transform: translate(-50%, 0);
    width: 50px;
    height: auto;
}

.orbit {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
}

.orbit-1 {
    animation: circle-rotate 10s linear infinite;
}

.orbit-2 {
    animation: circle-rotate 15s linear infinite;
}

.orbit-3 {
    animation: circle-rotate 7s linear infinite;
}

.orbit-1 .icon-1 {
    left: 180px;
    top: 30px;
}

.orbit-2 .icon-1 {
    left: 140px;
    top: 0;
}

.orbit-3 .icon-1 {
    left: 110px;
    top: 0;
}

.icon-1 {
    position: absolute;
    left: 140px;
    top: 50px;
    width: 40px;
    height: 40px;
    object-fit: cover;
    filter: drop-shadow(0px 2px 4px rgba(48, 53, 49, 0.3));
    animation: sway 1.2s ease-in-out infinite alternate;
}

@keyframes circle-rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes sway {
    0% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(10deg);
    }


}